<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Spark UI</title>
        <link rel="stylesheet" href="/main.css" />
        <link rel="stylesheet" href="/Components/Header/header.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
    </head>
    <body>
        <!-- classes - header-standard, header-short, header-fixed to be used same html  -->
        <div class="headers-container">
            <div class="website-header-container">
                <div class="header-text-container header-standard">
                    <nav aria-label="Top bar" class="header">
                        <button class="header-button">
                            <i class="material-icons header-svg-icons">menu</i>
                        </button>
                        <h3 class="header-title">Standard</h3>
                        <div class="header-right-buttons-container">
                            <button class="header-button">
                                <i class="material-icons header-svg-icons"
                                    >download</i
                                >
                            </button>
                            <button class="header-button">
                                <i class="material-icons header-svg-icons"
                                    >print</i
                                >
                            </button>
                            <button class="header-button">
                                <i class="material-icons header-svg-icons"
                                    >bookmark</i
                                >
                            </button>
                        </div>
                    </nav>
                    <p class="header-demo-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Sunt magnam nobis dolorum quibusdam vel eaque iste
                        facere aliquam quaerat, numquam non dolorem officiis
                        ullam quidem delectus quis quo quae. Laboriosam!Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Sunt
                        magnam nobis dolorum quibusdam vel eaque iste facere
                        aliquam quaerat, numquam non dolorem officiis ullam
                        quidem delectus quis quo quae. Laboriosam!Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Sunt magnam
                        nobis dolorum quibusdam vel eaque iste facere aliquam
                        quaerat, numquam non dolorem officiis ullam quidem
                        delectus quis quo quae. Laboriosam!Lorem ipsum dolor sit
                        amet consectetur adipisicing elit. Sunt magnam nobis
                        dolorum quibusdam vel eaque iste facere aliquam quaerat,
                        numquam non dolorem officiis ullam quidem delectus quis
                        quo quae. Laboriosam!Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Sunt magnam nobis dolorum
                        quibusdam vel eaque iste facere aliquam quaerat, numquam
                        non dolorem officiis ullam quidem delectus quis quo
                        quae. Laboriosam! Lorem ipsum dolor, sit amet
                        consectetur adipisicing elit. Non nesciunt repellendus
                        mollitia ipsam, eius esse nobis. Aliquid dolorum,
                        accusantium perspiciatis nobis, nesciunt enim ipsum cum,
                        architecto nisi ducimus labore quae? Lorem ipsum dolor
                        sit, amet consectetur adipisicing elit. Molestias
                        eligendi adipisci temporibus quos sunt delectus tenetur
                        aspernatur ea, aperiam omnis labore dignissimos cum nisi
                        eaque magni voluptate aliquam reiciendis consectetur!
                    </p>
                </div>
            </div>

            <div class="website-header-container">
                <div class="header-text-container header-short">
                    <nav aria-label="Top bar" class="header">
                        <button class="header-button">
                            <i class="material-icons header-svg-icons">menu</i>
                        </button>
                        <h3 class="header-title">Short</h3>
                        <div class="header-right-buttons-container">
                            <button class="header-button">
                                <i class="material-icons header-svg-icons"
                                    >download</i
                                >
                            </button>
                            <button class="header-button">
                                <i class="material-icons header-svg-icons"
                                    >print</i
                                >
                            </button>
                            <button class="header-button">
                                <i class="material-icons header-svg-icons"
                                    >bookmark</i
                                >
                            </button>
                        </div>
                    </nav>
                    <p class="header-demo-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Sunt magnam nobis dolorum quibusdam vel eaque iste
                        facere aliquam quaerat, numquam non dolorem officiis
                        ullam quidem delectus quis quo quae. Laboriosam!Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Sunt
                        magnam nobis dolorum quibusdam vel eaque iste facere
                        aliquam quaerat, numquam non dolorem officiis ullam
                        quidem delectus quis quo quae. Laboriosam!Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Sunt magnam
                        nobis dolorum quibusdam vel eaque iste facere aliquam
                        quaerat, numquam non dolorem officiis ullam quidem
                        delectus quis quo quae. Laboriosam!Lorem ipsum dolor sit
                        amet consectetur adipisicing elit. Sunt magnam nobis
                        dolorum quibusdam vel eaque iste facere aliquam quaerat,
                        numquam non dolorem officiis ullam quidem delectus quis
                        quo quae. Laboriosam!Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Sunt magnam nobis dolorum
                        quibusdam vel eaque iste facere aliquam quaerat, numquam
                        non dolorem officiis ullam quidem delectus quis quo
                        quae. Laboriosam! Lorem ipsum dolor, sit amet
                        consectetur adipisicing elit. Non nesciunt repellendus
                        mollitia ipsam, eius esse nobis. Aliquid dolorum,
                        accusantium perspiciatis nobis, nesciunt enim ipsum cum,
                        architecto nisi ducimus labore quae? Lorem ipsum dolor
                        sit, amet consectetur adipisicing elit. Molestias
                        eligendi adipisci temporibus quos sunt delectus tenetur
                        aspernatur ea, aperiam omnis labore dignissimos cum nisi
                        eaque magni voluptate aliquam reiciendis consectetur!
                    </p>
                </div>
            </div>

            <div class="website-header-container">
                <div class="header-text-container header-fixed">
                    <nav aria-label="Top bar" class="header">
                        <button class="header-button">
                            <i class="material-icons header-svg-icons">menu</i>
                        </button>
                        <h3 class="header-title">Fixed</h3>
                        <div class="header-right-buttons-container">
                            <button class="header-button">
                                <i class="material-icons header-svg-icons"
                                    >download</i
                                >
                            </button>
                            <button class="header-button">
                                <i class="material-icons header-svg-icons"
                                    >print</i
                                >
                            </button>
                            <button class="header-button">
                                <i class="material-icons header-svg-icons"
                                    >bookmark</i
                                >
                            </button>
                        </div>
                    </nav>
                    <p class="header-demo-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Sunt magnam nobis dolorum quibusdam vel eaque iste
                        facere aliquam quaerat, numquam non dolorem officiis
                        ullam quidem delectus quis quo quae. Laboriosam!Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Sunt
                        magnam nobis dolorum quibusdam vel eaque iste facere
                        aliquam quaerat, numquam non dolorem officiis ullam
                        quidem delectus quis quo quae. Laboriosam!Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Sunt magnam
                        nobis dolorum quibusdam vel eaque iste facere aliquam
                        quaerat, numquam non dolorem officiis ullam quidem
                        delectus quis quo quae. Laboriosam!Lorem ipsum dolor sit
                        amet consectetur adipisicing elit. Sunt magnam nobis
                        dolorum quibusdam vel eaque iste facere aliquam quaerat,
                        numquam non dolorem officiis ullam quidem delectus quis
                        quo quae. Laboriosam!Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Sunt magnam nobis dolorum
                        quibusdam vel eaque iste facere aliquam quaerat, numquam
                        non dolorem officiis ullam quidem delectus quis quo
                        quae. Laboriosam! Lorem ipsum dolor, sit amet
                        consectetur adipisicing elit. Non nesciunt repellendus
                        mollitia ipsam, eius esse nobis. Aliquid dolorum,
                        accusantium perspiciatis nobis, nesciunt enim ipsum cum,
                        architecto nisi ducimus labore quae? Lorem ipsum dolor
                        sit, amet consectetur adipisicing elit. Molestias
                        eligendi adipisci temporibus quos sunt delectus tenetur
                        aspernatur ea, aperiam omnis labore dignissimos cum nisi
                        eaque magni voluptate aliquam reiciendis consectetur!
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
