<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Spark UI</title>
        <link rel="stylesheet" href="/main.css" />
        <link rel="stylesheet" href="/Components/Tabs/tabs.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
    </head>
    <body>
        <!-- same html for all, classes - for fixed use tab-fixed, for scroll use tab-scroll, for leading icon use tab-leading icon, for top icon use tab-top-icon, for scroll width for tab bar user has CSS variable -->
        <div class="tabs-container">
            <div class="website-fixed-tab-container">
                <nav aria-label="Tab bar" class="tab tab-fixed">
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab One
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Two
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Three
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Four
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Five
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Six
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Seven
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Eight
                    </button>
                </nav>
            </div>

            <div class="website-scroll-tab-container">
                <nav aria-label="Tab bar" class="tab tab-scroll">
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab One
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Two
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Three
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Four
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Five
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Six
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Seven
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Eight
                    </button>
                </nav>
            </div>

            <div class="website-fixed-tab-container">
                <nav
                    aria-label="Tab bar"
                    class="tab tab-fixed tab-leading-icon"
                >
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab One
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Two
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Three
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Four
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Five
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Six
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Seven
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Eight
                    </button>
                </nav>
            </div>

            <div class="website-scroll-tab-container">
                <nav
                    aria-label="Tab bar"
                    class="tab tab-scroll tab-leading-icon"
                >
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab One
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Two
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Three
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Four
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Five
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Six
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Seven
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Eight
                    </button>
                </nav>
            </div>

            <div class="website-fixed-tab-container">
                <nav aria-label="Tab bar" class="tab tab-fixed tab-top-icon">
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab One
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Two
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Three
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Four
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Five
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Six
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Seven
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Eight
                    </button>
                </nav>
            </div>

            <div class="website-scroll-tab-container">
                <nav aria-label="Tab bar" class="tab tab-scroll tab-top-icon">
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab One
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Two
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Three
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Four
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Five
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Six
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Seven
                    </button>
                    <button class="tab-button">
                        <i class="material-icons tab-svg-icons">watch_later</i
                        >Tab Eight
                    </button>
                </nav>
            </div>
        </div>
    </body>
</html>
