* {
    box-sizing: border-box;
}

body {
    /* Use margin 0 once all done for now for better visibility use margin 1*/
    /* margin: 0; */
    margin: 2em;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    justify-items: center;
    gap: 3em;
}

.website-card-vertical-container {
    width: 23em;
    max-width: 90vw;
}

.website-card-horizontal-container {
    width: 23em;
    max-width: 90vw;
}

.website-chip-container {
    width: 50em;
    max-width: 90vw;
}

.drawers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-items: center;
    gap: 1em;
}

.website-fixed-drawer-container {
    width: 18rem;
    max-width: 90vw;
}

.website-scroll-drawer-container {
    width: 18rem;
    /* height: 35rem; not using --> height control to user-- css variable */
    max-width: 90vw;
}

.headers-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
    justify-items: center;
    gap: 2em;
}

.website-header-container {
    width: 40rem;
    height: 15rem;
    max-width: 80vw;
}

.badges-container {
    display: grid;
    /* grid-template-rows: repeat(auto-fit, minmax(10rem, 3fr)); */
    justify-items: center;
    gap: 2em;
}

.website-badge-container {
    width: max-content;
}

.dialogs-container {
    display: grid;
    /* grid-template-rows: repeat(auto-fit, minmax(10rem, 3fr)); */
    justify-items: center;
    gap: 2em;
}

.website-dialog-container {
    width: 20rem;
    max-width: 90vw;
    /* height: 28rem; not working --> given css variables */
}

.tabs-container {
    display: grid;
    /* grid-template-rows: repeat(auto-fit, minmax(10rem, 3fr)); */
    justify-items: center;
    gap: 1em;
}

.website-fixed-tab-container {
    max-width: 90vw;
}

.website-scroll-tab-container {
    /* width: 25rem; not working --> given css variables */
    max-width: 90vw;
}
