* {
    box-sizing: border-box;
}

body {
    /* Use margin 0 once all done for now for better visibility use margin 1*/
    /* margin: 0; */
    margin: 2em;
}

:root {
    /* card CSS variables */
    --card-bg-color: transparent; /* bg stands for background */
    --card-border: 1px solid black;
    --card-border-radius: 1.5em;
    --card-image-text-overlay-color: white;
    --card-primary-button-color: #2563eb;
    --card-button-hover-color: lightblue;
    --card-button-hover-border-radius: 0.6em;
    --card-secondary-button-color: black; /* i.e. card-icon-color */
    --card-icon-size: 1.4rem;
    --card-button-focus-outline-color: #2563eb;

    /* chip CSS variables */
    --chip-container-bg-color: #93c5fd;
    --chip-container-border: 1px solid black;
    --chip-container-border-radius: 1em;
    --chip-bg-color: #1d4ed8;
    --chip-border: 1px solid black;
    --chip-border-radius: 1.2em;
    --chip-icon-size: 1.3rem;
    --chip-icon-color: white;
    --chip-input-border: none;
    --chip-input-border-radius: 1em;
    --chip-button-focus-outline-color: white;

    /* drawer CSS variables */
    --drawer-height: 36rem;
    --drawer-border: 1px solid gray;
    --drawer-bg-color: transparent;
    --drawer-button-hover-color: #e2e8f0;
    --drawer-more-button-hover-color: lightgrey;
    --drawer-divider-line: #e2e8f0;
    --drawer-icon-color: #737373;
    --drawer-icon-size: 1.3rem;
    --nested-drawer-icon-size: 1rem;
    --drawer-button-focus-outline-color: black;

    /* header CSS variables */
    --header-container-border: 1px solid black;
    --header-bg-color: #1d4ed8;
    --header-border: none;
    --header-border-radius: 0;
    --header-button-hover-color: #3b82f6;
    --header-icon-color: white;
    --header-icon-size: 1.6rem;
    --short-header-icon-size: 1.3rem;
    --header-button-focus-outline-color: white;

    /* badge CSS variables */
    --text-badge-bg-color: transparent;
    --text-badge-border: 1px dashed black;
    --badge1-bg-color: #a5f3fc;
    --badge1-border: 1px solid black;
    --button-badge-bg-color: #7dd3fc;
    --button-badge-border: 1px solid black;
    --badge2-bg-color: #2563eb;
    --badge2-border: 1px solid black;
    --icon-badge-color: #059669;
    --badge3-bg-color: #dc2626;
    --badge3-border: 1px solid white;
    --badge-focus-outline-color: black;

    /* snackbar CSS variables */
    --snackbar-bg-color: #333333;
    --snackbar-icon-color: white;
    --snackbar-button-color: #93c5fd;
    --snackbar-button-focus-outline-color: white;

    /* dialogs CSS variables */
    --dialog-bg-color: #bfdbfe;
    --dialog-border: 1px solid black;
    --dialog-border-radius: 0.5em;
    --confirmation-dialog-divider-border: 1px solid black;
    --dialog-button-color: #1d4ed8;
    --dialog-button-hover-color: #93c5fd;
    --simple-dialog-icon-color: #525252;
    --simple-dialog-icon-size: 3rem;
    --simple-dialog-height: 10rem;
    --confirmation-dialog-height: 10rem;
    --dialog-button-focus-outline-color: #1d4ed8;

    /* tabs CSS variables */
    --tab-width: 45rem;
    --tab-bg-color: transparent;
    --tab-border: 1px solid black;
    --tab-button-color: #707070;
    --tab-button-focus-bg-color: #dbeafe;
    --tab-button-focus-color: #1d4ed8;
    --tab-button-focus-border-bottom: 2px solid #1d4ed8;
    --tab-button-hover-color: gainsboro;
    --tab-icon-color: #707070;
    --tab-icon-size: 1.5rem;
    --tab-button-focus-outline-color: transparent;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    justify-items: center;
    gap: 3em;
}

.website-card-vertical-container {
    width: 23em;
    max-width: 90vw;
}

.website-card-horizontal-container {
    width: 23em;
    max-width: 90vw;
}

.website-chip-container {
    width: 50em;
    max-width: 90vw;
}

.drawers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-items: center;
    gap: 1em;
}

.website-fixed-drawer-container {
    width: 18rem;
    max-width: 90vw;
}

.website-scroll-drawer-container {
    width: 18rem;
    /* height: 35rem; not using --> height control to user-- css variable */
    max-width: 90vw;
}

.headers-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
    justify-items: center;
    gap: 2em;
}

.website-header-container {
    width: 40rem;
    height: 15rem;
    max-width: 80vw;
}

.badges-container {
    display: grid;
    /* grid-template-rows: repeat(auto-fit, minmax(10rem, 3fr)); */
    justify-items: center;
    gap: 2em;
}

.website-badge-container {
    width: max-content;
}

.dialogs-container {
    display: grid;
    /* grid-template-rows: repeat(auto-fit, minmax(10rem, 3fr)); */
    justify-items: center;
    gap: 2em;
}

.website-dialog-container {
    width: 20rem;
    max-width: 90vw;
    /* height: 28rem; not working --> given css variables */
}

.tabs-container {
    display: grid;
    /* grid-template-rows: repeat(auto-fit, minmax(10rem, 3fr)); */
    justify-items: center;
    gap: 1em;
}

.website-fixed-tab-container {
    max-width: 90vw;
}

.website-scroll-tab-container {
    /* width: 25rem; not working --> given css variables */
    max-width: 90vw;
}
