<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Spark UI</title>
        <link rel="stylesheet" href="/main.css" />
        <link rel="stylesheet" href="/Components/Card/card.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
    </head>
    <body>
        <!-- to get different cards, same html, use any 1 of the classes - 'card-vertical card-basic', 'card-vertical card-header-top', 'card-vertical card-only-icons', 'card-vertical card-only-buttons', 'card-vertical card-text-overlay', 'card-horizontal card-basic'-->
        <div class="cards-container">
            <div class="website-card-vertical-container">
                <div class="card card-vertical card-basic">
                    <div class="card-body">
                        <div class="card-image-header-container">
                            <img
                                src="/Images/demo-image.png"
                                alt="Tokyo Olympics"
                                class="card-image"
                            />
                            <header>
                                <h1 class="card-heading">
                                    Tokyo Olympics 2020
                                </h1>
                                <p class="card-subheading">by Mohit Dhatrak</p>
                            </header>
                        </div>
                        <p class="card-text">
                            The Tokyo 2020 Games were an unprecedented
                            demonstration of unity and solidarity as the world
                            came together for the first time following the onset
                            of the COVID-19, for an Olympic Games focused on the
                            pure essentials: a celebration of athletes and
                            sport.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="card-primary-buttons-container">
                            <button class="card-button">Read</button>
                            <button class="card-button">Bookmark</button>
                        </div>
                        <div class="card-secondary-buttons-container">
                            <button class="card-button">
                                <i class="material-icons card-svg-icons">
                                    favorite_border
                                </i>
                            </button>
                            <button class="card-button">
                                <i class="material-icons card-svg-icons">
                                    share
                                </i>
                            </button>
                            <button class="card-button">
                                <i class="material-icons card-svg-icons">
                                    more_vert
                                </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="website-card-vertical-container">
                <div class="card card-vertical card-header-top">
                    <div class="card-body">
                        <div class="card-image-header-container">
                            <img
                                src="/Images/demo-image.png"
                                alt="Tokyo Olympics"
                                class="card-image"
                            />
                            <header>
                                <h1 class="card-heading">
                                    Tokyo Olympics 2020
                                </h1>
                                <p class="card-subheading">by Mohit Dhatrak</p>
                            </header>
                        </div>
                        <p class="card-text">
                            The Tokyo 2020 Games were an unprecedented
                            demonstration of unity and solidarity as the world
                            came together for the first time following the onset
                            of the COVID-19, for an Olympic Games focused on the
                            pure essentials: a celebration of athletes and
                            sport.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="card-primary-buttons-container">
                            <button class="card-button">Read</button>
                            <button class="card-button">Bookmark</button>
                        </div>
                        <div class="card-secondary-buttons-container">
                            <button class="card-button">
                                <i class="material-icons card-svg-icons">
                                    favorite_border
                                </i>
                            </button>
                            <button class="card-button">
                                <i class="material-icons card-svg-icons">
                                    share
                                </i>
                            </button>
                            <button class="card-button">
                                <i class="material-icons card-svg-icons">
                                    more_vert
                                </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="website-card-vertical-container">
                <div class="card card-vertical card-only-icons">
                    <div class="card-body">
                        <div class="card-image-header-container">
                            <img
                                src="/Images/demo-image.png"
                                alt="Tokyo Olympics"
                                class="card-image"
                            />
                            <header>
                                <h1 class="card-heading">
                                    Tokyo Olympics 2020
                                </h1>
                                <p class="card-subheading">by Mohit Dhatrak</p>
                            </header>
                        </div>
                        <p class="card-text">
                            The Tokyo 2020 Games were an unprecedented
                            demonstration of unity and solidarity as the world
                            came together for the first time following the onset
                            of the COVID-19, for an Olympic Games focused on the
                            pure essentials: a celebration of athletes and
                            sport.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="card-primary-buttons-container">
                            <button class="card-button">Read</button>
                            <button class="card-button">Bookmark</button>
                        </div>
                        <div class="card-secondary-buttons-container">
                            <button class="card-button">
                                <i class="material-icons card-svg-icons">
                                    favorite_border
                                </i>
                            </button>
                            <button class="card-button">
                                <i class="material-icons card-svg-icons">
                                    share
                                </i>
                            </button>
                            <button class="card-button">
                                <i class="material-icons card-svg-icons">
                                    more_vert
                                </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="website-card-vertical-container">
                <div class="card card-vertical card-only-buttons">
                    <div class="card-body">
                        <div class="card-image-header-container">
                            <img
                                src="/Images/demo-image.png"
                                alt="Tokyo Olympics"
                                class="card-image"
                            />
                            <header>
                                <h1 class="card-heading">
                                    Tokyo Olympics 2020
                                </h1>
                                <p class="card-subheading">by Mohit Dhatrak</p>
                            </header>
                        </div>
                        <p class="card-text">
                            The Tokyo 2020 Games were an unprecedented
                            demonstration of unity and solidarity as the world
                            came together for the first time following the onset
                            of the COVID-19, for an Olympic Games focused on the
                            pure essentials: a celebration of athletes and
                            sport.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="card-primary-buttons-container">
                            <button class="card-button">Read</button>
                            <button class="card-button">Bookmark</button>
                        </div>
                        <div class="card-secondary-buttons-container">
                            <button class="card-button">
                                <i class="material-icons card-svg-icons">
                                    favorite_border
                                </i>
                            </button>
                            <button class="card-button">
                                <i class="material-icons card-svg-icons">
                                    share
                                </i>
                            </button>
                            <button class="card-button">
                                <i class="material-icons card-svg-icons">
                                    more_vert
                                </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="website-card-vertical-container">
                <div class="card card-vertical card-text-overlay">
                    <div class="card-body">
                        <div class="card-image-header-container">
                            <img
                                src="/Images/demo-image.png"
                                alt="Tokyo Olympics"
                                class="card-image"
                            />
                            <header>
                                <h1 class="card-heading">
                                    Tokyo Olympics 2020
                                </h1>
                                <p class="card-subheading">by Mohit Dhatrak</p>
                            </header>
                        </div>
                        <p class="card-text">
                            The Tokyo 2020 Games were an unprecedented
                            demonstration of unity and solidarity as the world
                            came together for the first time following the onset
                            of the COVID-19, for an Olympic Games focused on the
                            pure essentials: a celebration of athletes and
                            sport.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="card-primary-buttons-container">
                            <button class="card-button">Read</button>
                            <button class="card-button">Bookmark</button>
                        </div>
                        <div class="card-secondary-buttons-container">
                            <button class="card-button">
                                <i class="material-icons card-svg-icons">
                                    favorite_border
                                </i>
                            </button>
                            <button class="card-button">
                                <i class="material-icons card-svg-icons">
                                    share
                                </i>
                            </button>
                            <button class="card-button">
                                <i class="material-icons card-svg-icons">
                                    more_vert
                                </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="website-card-horizontal-container">
                <div class="card card-horizontal card-basic">
                    <div class="card-body">
                        <div class="card-image-header-container">
                            <img
                                src="/Images/demo-image.png"
                                alt="Tokyo Olympics"
                                class="card-image"
                            />
                            <header>
                                <h1 class="card-heading">
                                    Tokyo Olympics 2020
                                </h1>
                                <p class="card-subheading">by Mohit Dhatrak</p>
                            </header>
                        </div>
                        <p class="card-text">
                            The Tokyo 2020 Games were an unprecedented
                            demonstration of unity and solidarity as the world
                            came together for the first time following the onset
                            of the COVID-19, for an Olympic Games focused on the
                            pure essentials: a celebration of athletes and
                            sport.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="card-primary-buttons-container">
                            <button class="card-button">Read</button>
                            <button class="card-button">Bookmark</button>
                        </div>
                        <div class="card-secondary-buttons-container">
                            <button class="card-button">
                                <i class="material-icons card-svg-icons">
                                    favorite_border
                                </i>
                            </button>
                            <button class="card-button">
                                <i class="material-icons card-svg-icons">
                                    share
                                </i>
                            </button>
                            <button class="card-button">
                                <i class="material-icons card-svg-icons">
                                    more_vert
                                </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
