<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Spark UI</title>
        <link rel="stylesheet" href="/main.css" />
        <link rel="stylesheet" href="/Components/Chips/chips.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
    </head>
    <body>
        <div class="website-chip-container">
            <ul class="chip">
                <li class="chip-item">
                    <span>Athletics</span>
                    <button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    <span>Gymnastics</span>
                    <button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    <span>Swimming</span>
                    <button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    <span>Hockey</span>
                    <button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    <span>Archery</span>
                    <button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    <span>Rifle-shooting</span>
                    <button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    <span>Badminton</span>
                    <button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    <span>Boxing</span>
                    <button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    <span>Fencing</span>
                    <button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    <span>Football</span>
                    <button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    <span>Golf</span>
                    <button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    <span>Wrestling</span>
                    <button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <input
                    type="text"
                    placeholder="Type chip name & press enter ..."
                    class="chip-input"
                />
            </ul>
        </div>
    </body>
</html>
