<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Spark UI</title>
        <link rel="stylesheet" href="/main.css" />
        <link rel="stylesheet" href="/Components/Chips/chips.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
    </head>
    <body>
        <div class="website-chip-container">
            <ul class="chip">
                <li class="chip-item">
                    Athletics<button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    Gymnastics<button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    Swimming<button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    Hockey<button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    Archery<button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    Rifle-shooting<button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    Badminton<button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    Boxing<button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    Fencing<button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    Football<button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    Golf<button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <li class="chip-item">
                    Wrestling<button class="chip-button">
                        <i class="material-icons chip-svg-icon">
                            highlight_off
                        </i>
                    </button>
                </li>
                <input
                    type="text"
                    placeholder="Type chip name & press enter ..."
                    class="chip-input"
                />
            </ul>
        </div>
    </body>
</html>
