<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Spark UI</title>
        <link rel="stylesheet" href="/main.css" />
        <link rel="stylesheet" href="/Components/Drawer/drawer.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
    </head>
    <body>
        <!-- here, classes- for scrollable drawer-scroll, for fixed, drawer-fixed, for scroll user needs to give height by using given CSS variable-->
        <div class="drawers-container">
            <div class="website-fixed-drawer-container">
                <aside aria-label="Mail menu" class="drawer drawer-fixed">
                    <header class="drawer-header">
                        <h1 class="drawer-heading">Hi Mohit!</h1>
                        <p class="drawer-subheading">mohit100@neogcamp.com</p>
                    </header>
                    <hr class="drawer-divider" />
                    <div class="drawer-buttons-container">
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                inbox
                            </i>
                            Inbox
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                star
                            </i>
                            Starred
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                send
                            </i>
                            Sent
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                drafts
                            </i>
                            Drafts
                        </button>
                    </div>
                    <hr class="drawer-divider" />
                    <div class="drawer-buttons-container">
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                schedule_send
                            </i>
                            Scheduled
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                watch_later
                            </i>
                            Snoozed
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons"
                                >report</i
                            >
                            Spam
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons"
                                >delete</i
                            >
                            Bin
                        </button>
                    </div>
                    <hr class="drawer-divider" />
                    <div class="drawer-more-button-container">
                        <button class="nested-drawer-button">
                            <i class="material-icons drawer-svg-icons"
                                >arrow_drop_down</i
                            >
                            <i class="material-icons drawer-svg-icons">label</i
                            >Categories
                        </button>
                        <button class="drawer-more-button">
                            <i class="material-icons drawer-svg-icons">
                                more_vert
                            </i>
                        </button>
                    </div>
                    <div class="drawer-buttons-container nested-drawer">
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons"
                                >people</i
                            >
                            Social
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">sell</i>
                            Promotions
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">info</i>
                            Updates
                        </button>
                    </div>
                    <hr class="drawer-divider" />
                    <div class="drawer-buttons-container">
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons"
                                >settings</i
                            >
                            Settings
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">help</i>
                            Help
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons"
                                >thumb_up</i
                            >
                            Rate us
                        </button>
                    </div>
                </aside>
            </div>

            <div class="website-scroll-drawer-container">
                <aside aria-label="Mail menu" class="drawer drawer-scroll">
                    <header class="drawer-header">
                        <h1 class="drawer-heading">Hi Mohit!</h1>
                        <p class="drawer-subheading">mohit100@neogcamp.com</p>
                    </header>
                    <hr class="drawer-divider" />
                    <div class="drawer-buttons-container">
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                inbox
                            </i>
                            Inbox
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                star
                            </i>
                            Starred
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                send
                            </i>
                            Sent
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                drafts
                            </i>
                            Drafts
                        </button>
                    </div>
                    <hr class="drawer-divider" />
                    <div class="drawer-buttons-container">
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                schedule_send
                            </i>
                            Scheduled
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                watch_later
                            </i>
                            Snoozed
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                report
                            </i>
                            Spam
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                delete
                            </i>
                            Bin
                        </button>
                    </div>
                    <hr class="drawer-divider" />
                    <div class="drawer-more-button-container">
                        <button class="nested-drawer-button">
                            <i class="material-icons drawer-svg-icons"
                                >arrow_drop_down</i
                            >
                            <i class="material-icons drawer-svg-icons">label</i
                            >Categories
                        </button>
                        <button class="drawer-more-button">
                            <i class="material-icons drawer-svg-icons">
                                more_vert
                            </i>
                        </button>
                    </div>
                    <div class="drawer-buttons-container nested-drawer">
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                people
                            </i>
                            Social
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                sell
                            </i>
                            Promotions
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                info
                            </i>
                            Updates
                        </button>
                    </div>
                    <hr class="drawer-divider" />
                    <div class="drawer-buttons-container">
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                settings
                            </i>
                            Settings
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                help
                            </i>
                            Help
                        </button>
                        <button class="drawer-button">
                            <i class="material-icons drawer-svg-icons">
                                thumb_up
                            </i>
                            Rate us
                        </button>
                    </div>
                </aside>
            </div>
        </div>
    </body>
</html>
