<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Spark UI</title>
        <link rel="stylesheet" href="/main.css" />
        <link rel="stylesheet" href="/Components/Badge/badge.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
    </head>
    <body>
        <!-- 3 different badges 3 different html, but for 3 size types use classes - badge-small, badge-medium, badge-large -->
        <div class="badges-container">
            <div class="website-badge-container">
                <div class="text-with-badge badge-small">
                    <p class="badge-text">New Year Sale</p>
                    <div class="badge-badge1">60% off</div>
                </div>
            </div>

            <div class="website-badge-container">
                <div class="text-with-badge badge-medium">
                    <p class="badge-text">New Year Sale</p>
                    <div class="badge-badge1">60% off</div>
                </div>
            </div>

            <div class="website-badge-container">
                <div class="text-with-badge badge-large">
                    <p class="badge-text">New Year Sale</p>
                    <div class="badge-badge1">60% off</div>
                </div>
            </div>

            <div class="website-badge-container">
                <div class="button-with-badge badge-small">
                    <button class="badge-button">Comments</button>
                    <div class="badge-badge2">28</div>
                </div>
            </div>

            <div class="website-badge-container">
                <div class="button-with-badge badge-medium">
                    <button class="badge-button">Comments</button>
                    <div class="badge-badge2">28</div>
                </div>
            </div>

            <div class="website-badge-container">
                <div class="button-with-badge badge-large">
                    <button class="badge-button">Comments</button>
                    <div class="badge-badge2">28</div>
                </div>
            </div>

            <div class="website-badge-container">
                <div class="icon-with-badge badge-small">
                    <button class="badge-icon-button">
                        <i class="material-icons badge-icon">whatsapp</i>
                    </button>
                    <div class="badge-badge3">62</div>
                </div>
            </div>

            <div class="website-badge-container">
                <div class="icon-with-badge badge-medium">
                    <button class="badge-icon-button">
                        <i class="material-icons badge-icon">whatsapp</i>
                    </button>
                    <div class="badge-badge3">62</div>
                </div>
            </div>

            <div class="website-badge-container">
                <div class="icon-with-badge badge-large">
                    <button class="badge-icon-button">
                        <i class="material-icons badge-icon">whatsapp</i>
                    </button>
                    <div class="badge-badge3">62</div>
                </div>
            </div>
        </div>
    </body>
</html>
