<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Spark UI</title>
        <link rel="stylesheet" href="/main.css" />
        <link rel="stylesheet" href="/Components/Snackbar/snackbar.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
    </head>
    <body>
        <!-- classes - snackbar-top-left, snackbar-top-right, snackbar-bottom-left, snackbar-bottom-right -->
        <div class="snackbar">
            <p class="snackbar-text">Oops! An error occurred</p>
            <div class="snackbar-buttons-container">
                <button class="snackbar-button">Retry</button>
                <button class="snackbar-button">
                    <i class="material-icons snackbar-svg-icons">close</i>
                </button>
            </div>
        </div>
    </body>
</html>
